@model App.Web.ViewModels.Home.HomeViewModel


<ul class="catalog">

    @foreach (var category in Model.Categories)
    {
        <li class="has-submenu">
            <a href="/Categories/Index/@category.Id">@category.Name<i class="fa fa-chevron-down"></i></a>
            <ul class="submenu">
                @foreach (var manufacturer in category.Manufacturers)
                {
                    <li class="has-submenu">
                        <a href="#">@manufacturer.Name</a>
                        <ul class="sub-submenu">
                            @foreach (var product in Model.AllProducts)
                            {
                                if (product.CategoryId == category.Id && product.Manufacturer.Id == manufacturer.Id)
                                {
                                    <li><a href='@Url.Action("Index", "ProductsDetails", new { @id = product.Id})'>@product.Name</a></li><!--Class "has-submenu" for adding carret and dropdown-->
                                }
                            }
                        </ul>
                    </li>
                  
                    <li class="offer">
                        <div class="col-1">
                            <p class="p-style2">Специално предложение!</p>
                        </div>
                        <div class="col-2">
                            <img src="~/Content/Theme/img/offers/menu-drodown-offer.png" alt="Special Offer" />
                            <a class="btn btn-block" href="/ProductsDetails/Index/4"><span>584$</span>Special offer</a>
                        </div>
                    </li>
                }
            </ul>
        </li>
    }


    @*<li class="offer">
            <div class="col-1">
                <p class="p-style2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-2">
                <img src="~/Content/Theme/img/offers/menu-drodown-offer.jpg" alt="Special Offer" />
                <a class="btn btn-block" href="#"><span>584$</span>Special offer</a>
            </div>
        </li>*@

</ul>













