@model App.Web.ViewModels.Home.HomeViewModel

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Create", "WishLIst", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <a class="wishlist-btn" href="@Url.Action("Create", "WishLIst", new { area = "user" }, null)">
            <div class="hover-state">Wishlist</div>
            <i class="fa fa-plus"></i>
        </a>
    }

}
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}