@model int

<div class="row">
    <div class="col-md-5">
        @(Html.Kendo().DropDownList()
            .Name("ManufacturerId")
            .DataTextField("Text")
            .DataValueField("Value")
            .BindTo((IEnumerable<SelectListItem>)ViewBag.ManufacturerListItems)
        )
    </div>
</div>
<br />
