@model App.Web.Areas.User.UserViewModels.WishListHomeViewModel
@{
    ViewBag.Title = "Index";
}

 <!--Wishlist-->
<section class="wishlist">
    <div class="container">
        <div class="row">

            <!--Items List-->
            <div class="col-lg-9 col-md-9">
                <h2 class="title">Wishlist</h2>
                <table class="items-list">
                    <tr>
                        <th>&nbsp;</th>
                        <th>Product name</th>
                        <th>Product price</th>
                    </tr>
                    <!--Item-->
                    <tr class="item first">
                        <td class="thumb"><a href="shop-single-item-v1.html"><img src="img/catalog/shopping-cart-thumb.jpg" alt="Lorem ipsum" /></a></td>
                        <td class="name"><a href="shop-single-item-v1.html">Nikon D4S</a></td>
                        <td class="price">715,00 $</td>
                        <td class="button"><a class="btn btn-primary btn-sm" href="#"><i class="icon-shopping-cart"></i>Add to cart</a></td>
                        <td class="delete"><i class="icon-delete"></i></td>
                    </tr>
                    <!--Item-->
                    <tr class="item first">
                        <td class="thumb"><a href="shop-single-item-v1.html"><img src="img/catalog/shopping-cart-thumb.jpg" alt="Lorem ipsum" /></a></td>
                        <td class="name"><a href="shop-single-item-v1.html">Nikon D4S</a></td>
                        <td class="price">715,00 $</td>
                        <td class="button"><a class="btn btn-primary btn-sm" href="#"><i class="icon-shopping-cart"></i>Add to cart</a></td>
                        <td class="delete"><i class="icon-delete"></i></td>
                    </tr>
                    <!--Item-->
                    <tr class="item first">
                        <td class="thumb"><a href="shop-single-item-v1.html"><img src="img/catalog/shopping-cart-thumb.jpg" alt="Lorem ipsum" /></a></td>
                        <td class="name"><a href="shop-single-item-v1.html">Nikon D4S</a></td>
                        <td class="price">715,00 $</td>
                        <td class="button"><a class="btn btn-primary btn-sm disabled" href="#">Out of stock</a></td>
                        <td class="delete"><i class="icon-delete"></i></td>
                    </tr>
                    <!--Item-->
                    <tr class="item first">
                        <td class="thumb"><a href="shop-single-item-v1.html"><img src="img/catalog/shopping-cart-thumb.jpg" alt="Lorem ipsum" /></a></td>
                        <td class="name"><a href="shop-single-item-v1.html">Nikon D4S</a></td>
                        <td class="price">715,00 $</td>
                        <td class="button"><a class="btn btn-primary btn-sm" href="#"><i class="icon-shopping-cart"></i>Add to cart</a></td>
                        <td class="delete"><i class="icon-delete"></i></td>
                    </tr>
                    <!--Item-->
                    <tr class="item first">
                        <td class="thumb"><a href="shop-single-item-v1.html"><img src="img/catalog/shopping-cart-thumb.jpg" alt="Lorem ipsum" /></a></td>
                        <td class="name"><a href="shop-single-item-v1.html">Nikon D4S</a></td>
                        <td class="price">715,00 $</td>
                        <td class="button"><a class="btn btn-primary btn-sm disabled" href="#">Out of stock</a></td>
                        <td class="delete"><i class="icon-delete"></i></td>
                    </tr>
                </table>
            </div>

            <!--Sidebar-->
            <div class="col-lg-3 col-md-3">
                <h3>Have a coupon?</h3>
                <form class="coupon" name="coupon-code" method="post">
                    <div class="form-group">
                        <label class="sr-only" for="coupon-code">Enter coupon code</label>
                        <input type="text" class="form-control" id="coupon-code" name="coupon-code" placeholder="Enter coupon code">
                    </div>
                    <input type="submit" class="btn btn-primary btn-sm btn-block" name="apply-coupon" value="Apply coupon">
                </form>
                <!--Top items-->
                <h3 class="space-top">Top items</h3>
                <div class="top-item">
                    <div class="price-label">715,00 $</div>
                    <a href="#"><img src="img/offers/special-offer.png" alt="Special Offer" /></a>
                    <div class="footer"><a href="#">The Buccaneer</a></div>
                </div>
                <div class="top-item">
                    <div class="price-label">715,00 $</div>
                    <a href="#"><img src="img/offers/special-offer.png" alt="Special Offer" /></a>
                    <div class="footer"><a href="#">The Buccaneer</a></div>
                </div>
            </div>
        </div>
    </div>
</section><!--Wishlist Close-->
<!--Catalog Grid-->
<section class="catalog-grid">
    <div class="container">
        <h2>You may also like</h2>
        <div class="row">
            <!--Tile-->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="tile">
                    <div class="price-label">715,00 $</div>
                    <a href="#"><img src="img/catalog/1.png" alt="1" /></a>
                    <div class="footer">
                        <a href="#">The Buccaneer</a>
                        <span>by Pirate3d</span>
                        <div class="tools">
                            <div class="rate">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span></span>
                            </div>
                            <!--Add To Cart Button-->
                            <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
                            <!--Share Button-->
                            <div class="share-btn">
                                <div class="hover-state">
                                    <a class="fa fa-facebook-square" href="#"></a>
                                    <a class="fa fa-twitter-square" href="#"></a>
                                    <a class="fa fa-google-plus-square" href="#"></a>
                                </div>
                                <i class="fa fa-share"></i>
                            </div>
                            <!--Add To Wishlist Button-->
                            <a class="wishlist-btn" href="#">
                                <div class="hover-state">Wishlist</div>
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Tile-->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="tile">
                    <div class="price-label">715,00 $</div>
                    <a href="#"><img src="img/catalog/1.png" alt="1" /></a>
                    <div class="footer">
                        <a href="#">The Buccaneer</a>
                        <span>by Pirate3d</span>
                        <div class="tools">
                            <div class="rate">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span></span>
                                <span></span>
                            </div>
                            <!--Add To Cart Button-->
                            <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
                            <!--Share Button-->
                            <div class="share-btn">
                                <div class="hover-state">
                                    <a class="fa fa-facebook-square" href="#"></a>
                                    <a class="fa fa-twitter-square" href="#"></a>
                                    <a class="fa fa-google-plus-square" href="#"></a>
                                </div>
                                <i class="fa fa-share"></i>
                            </div>
                            <!--Add To Wishlist Button-->
                            <a class="wishlist-btn" href="#">
                                <div class="hover-state">Wishlist</div>
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Tile-->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="tile">
                    <div class="price-label">715,00 $</div>
                    <a href="#"><img src="img/catalog/1.png" alt="1" /></a>
                    <div class="footer">
                        <a href="#">The Buccaneer</a>
                        <span>by Pirate3d</span>
                        <div class="tools">
                            <div class="rate">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <!--Add To Cart Button-->
                            <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
                            <!--Share Button-->
                            <div class="share-btn">
                                <div class="hover-state">
                                    <a class="fa fa-facebook-square" href="#"></a>
                                    <a class="fa fa-twitter-square" href="#"></a>
                                    <a class="fa fa-google-plus-square" href="#"></a>
                                </div>
                                <i class="fa fa-share"></i>
                            </div>
                            <!--Add To Wishlist Button-->
                            <a class="wishlist-btn" href="#">
                                <div class="hover-state">Wishlist</div>
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Tile-->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="tile">
                    <div class="price-label">715,00 $</div>
                    <a href="#"><img src="img/catalog/1.png" alt="1" /></a>
                    <div class="footer">
                        <a href="#">The Buccaneer</a>
                        <span>by Pirate3d</span>
                        <div class="tools">
                            <div class="rate">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span></span>
                                <span></span>
                            </div>
                            <!--Add To Cart Button-->
                            <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
                            <!--Share Button-->
                            <div class="share-btn">
                                <div class="hover-state">
                                    <a class="fa fa-facebook-square" href="#"></a>
                                    <a class="fa fa-twitter-square" href="#"></a>
                                    <a class="fa fa-google-plus-square" href="#"></a>
                                </div>
                                <i class="fa fa-share"></i>
                            </div>
                            <!--Add To Wishlist Button-->
                            <a class="wishlist-btn" href="#">
                                <div class="hover-state">Wishlist</div>
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--Catalog Grid Close-->
